.review__list {
  position: relative;
  min-height: 280px;
}
.review__item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.review__item_active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}