$sectionHeight: 642px;
$sectionHeight768: 606px;
$containerWidth: 1100px;
$baseFontSize: 18px;

$baseFontColor:#666666;
$btnColorDark: #497870;
$btnColorLight: #365A49;
$circlesBgrColor:#DADADA;
$dark: #292929;
$light:#FFFFFF;
$firstBgrColor:#61C4D9;
$secondBgrColor:#86C3D7;
$thirdBgrColor:#F2F5F4;
$forthBgrColor:#F8FAF9;
$fifthBgrColor:#2E4E3F;
$black:#000000;
$borderColor:#DEE2BD;
$menu: #333537;
$darkEllipse:#86C3D7;
$lightEllipse:#EEF1EF;
$priceColor: #151515;
$playerControls:#404040;
$playerElements:#626262;
$cross:#0D0E0F;
$heroSpriteColor:#C6F7FF;
$socialColor: #B3B3B3;

$z-fixed-menu:100;

$screen: 1100px;
$tablet: 768px;
$phone: 480px;