.btn {
    text-align: center;
    padding: rem(21px) rem(41px);
    border-radius: rem(30px);
    text-decoration: none;
    @include baseFont($font-size: rem(16px), $line-height: rem(18px), $font-weight: 800);
    @include textOverflow3;
    display: inline-flex;
    justify-content: center;
    max-width: rem(340px);
    border: none;
    cursor: pointer;
    user-select: none;


    &__theme_light {
        @include baseFont($font-size: rem(16px), $line-height: rem(18px), $font-weight: 800, $color: $btnColorLight);
        background-color: $light;
        text-transform: uppercase;

        &:hover {
            color: $btnColorDark;
        }

        @include phone {
            @include baseFont($font-size: rem(19px), $line-height: rem(18px), $font-weight: 800, $color: $btnColorLight);
            padding: rem(21px) rem(37px);
        }
    }

    &__theme_dark {
        @include baseFont($font-size: rem(16px), $line-height: rem(18px), $font-weight: 800, $color: $light);
        background-color: $btnColorLight;
        text-transform: uppercase;

        &:hover {
            background-color: $fifthBgrColor;
            color: $light;
        }
    }

    &__theme_transparent {
        @include baseFont($color: $btnColorDark);
        background-color: transparent;
        padding: rem(19px) rem(22px);
        justify-content: flex-start;

        @include tablet {
            padding: rem(18px) rem(33px);
        }

        @include phone {
            padding: rem(19px) rem(33px);
        }

        &:hover {
            color: $black;
        }
    }
}