.burger {
    justify-self: flex-end;
    align-self: baseline;
    margin-top: rem(20px);

    &__link {
        width: rem(26px);
        height: rem(24px);
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;

        @include tablet {
            display: inline-flex;
        }

        @include phone {
            display: inline-flex;
        }

    }


    &__plank {
        height: rem(4.5px);
        background: $light;
        border-radius: rem(10px);
    }
}