.feedback {
    /* @include flexRow-JCfs-ALIc($align-items: flex-start); */
    width: 100%;
    background: url(../../img/background/layer2-1.png) right top 14% no-repeat, $forthBgrColor;
    padding: rem(46px)  0 rem(29px) rem(42px);
    position: relative;

    @include tablet {
        min-width: 100%;
        padding: rem(56px) rem(23px) rem(26px);
        background: url(../../img/background/layer2-1_768.png) right top 5% no-repeat, #F8FAF9;
    }

    @include phone {
        padding: rem(56px) rem(33px) rem(8px) rem(25px);
        background: url(../../img/background/layer2-1_480.png) right  top 7% no-repeat, #F8FAF9;
    }

    &__inner{
        @include flexRow-JCfs-ALIc($align-items: flex-start);
        
        @include tablet {
            @include flexCol-JCsb-ALIfs ($justify-content: flex-start, $align-items: center);
        }
    }


    &__icon {
        margin-right: rem(38px);
        width: rem(253px);
        height: rem(264px);

        @include tablet {
            width: rem(130px);
            height: rem(130px);
            margin: 0 0 rem(33px);
        }

        @include phone {
            margin: 0 0 rem(16px);
        }
    }

    &__paginator {
        position: relative;

        @include phone {
            /* width: rem(224px); */
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include tablet {
            display: none;
        }

        &768 {
            display: none;

            @include tablet {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


    }

    &__content {
        flex: 1;
        padding-top: rem(30px);
        width: rem(463px);
        padding-right: rem(129px);

        @include tablet {
            padding: 0;
            width: auto;
            text-align: center;
        }
    }

    &__title {
        @include H3font;
        margin-bottom: rem(11px);

        @include tablet {
            display: none;
        }
    }

    &__title768 {
        display: none;

        @include tablet {
            display: block;
            @include H3font;
            margin-bottom: rem(17px);
        }

        @include phone {
            padding: 0 rem(43px);
            margin-bottom: rem(10px);
        }
    }

    &__text {
        @include baseFont($color: $baseFontColor);
        margin-bottom: rem(28px);

        @include tablet {
            display: none;
        }
    }

    &__text768 {
        display: none;

        @include tablet {
            display: block;
            @include baseFont ($color: $baseFontColor);
            margin-bottom: rem(17px);
        }

        @include phone {
            margin-bottom: rem(12px);
            line-height: rem(23px);
        }
    }

    &__caption {
        @include baseFont ($line-height: rem(24px), $font-weight: 500, $color: $dark);

        @include tablet {
            display: none;
        }
    }

    &__caption768 {
        display: none;

        @include tablet {
            display: block;
            @include baseFont ($line-height: rem(24px), $font-weight: 500, $color: $black)
        }
    }

    &__list {
        @include flexRow-JCfs-ALIc ($justify-content: center);

        @include phone {
            margin-left: rem(10px);
            @include flexRow-JCfs-ALIc ($justify-content: center);
        }
    }

}
