.fixed-menu {
    position: fixed;
    top: 65%;
    right: 4%;
    z-index: $z-fixed-menu;

    &__item {

        &_active {
            .fixed-menu__link {
                border-color: $light;
            }
        }
    }

    &__link {
        width: rem(18px);
        height: rem(19px);
        border-radius: 50%;
        border: rem(1px) solid transparent;
        display: block;
        position: relative;

        &::before {
            content: "";
            display: block;
            width: rem(9px);
            height: rem(9px);
            background: $light;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }
}