.form {
    display: flex;
    position: relative;

    @include tablet {
        flex-direction: column;
        max-width: rem(468px);
    }
    @include phone {
        max-width: rem(460px);
    }

    
    &__col {
        flex: 1;
        margin-right: rem(25px);

        @include tablet {
            margin: 0;
            @include baseFont ($color: $btnColorDark);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        margin-bottom: rem(12px);

        @include tablet {
            margin-bottom: rem(8px);
        }
    }

    &__block {
        @include flexCol-JCsb-ALIfs ($justify-content: flex-start);
        flex: 1;
        margin-right: rem(16px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        border: rem(3px) solid transparent;
        padding: rem(13px);
        border-radius: rem(4px);
        background: $light;

        @include tablet {
            padding: rem(9px) rem(7px);
            @include baseFont ($font-size: rem(18px), $line-height: rem(20px), $color: $black);
        }

        @include phone {
            padding: rem(9px) rem(8px);
            @include baseFont ($font-size: rem(14px), $line-height: 20px);
        }

        &:focus {
            border: rem(3px) solid $borderColor;
            outline: none;
        }

        &_error{
            border: rem(1px) solid red;
        }
    }

    &__input-textarea {
        height: rem(156px);
        resize: none;
        padding: 0;

        @include tablet {
            height: rem(82px);
        }
    }

    &__controlls {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(36px);
        padding-left: rem(8px);

        @include tablet {
            margin-top: rem(28px);
            padding-left: 0;
        }

        @include phone {
            justify-content: flex-start;
        }
    }

    &__controll {
        display: flex;
        white-space: nowrap;

        @include tablet {
            margin-bottom: rem(24px);
        }

        @include phone {
            margin-left: rem(52px);
        }
    }

    &__btn {
        margin-top: rem(45px);
        position: relative;
        display: flex;

        @include tablet {
            margin-top: rem(13px);
            display: flex;
            justify-content: center;
            margin-left: rem(35px);
        }

        @include phone {
            margin-left: rem(39px);
        }

        &:first-child {
            margin-right: rem(-20px);
        }

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: url(../../img/background/лист-3_1.png);
            right: -16%;
            top: -173%;
            position: absolute;

            @include tablet {
                content: "";
            }
        }

    }

    &__error{
        color: red;
    }
}