.header {
    width: 100%;
    @include flexRow-JCfs-ALIc($align-items: flex-start);
    @include tablet{
        min-height: rem(91px);
    }
    @include tablet {
        @include flexRow-JCfs-ALIc ($justify-content: space-between);
    }
    @include phone {
        padding-right: rem(12px);
    }


    &__logo {
        fill: $light;
        margin-right: rem(40px);
        width: rem(53px);
        height: rem(38px);   
        flex-shrink: 0;     
    }

    &__navbar {
        margin-right: rem(40px);
        
        @include tablet {
            display: none;
        }
    }

    &>.contacts {
        justify-content: flex-end;
        white-space: nowrap;
        padding-top: rem(9px);
        @include tablet {
            display: none;
        }
    }
}