.interactive-avatar {
    width: rem(74px);
    height: rem(74px);
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(6px);
    border: rem(4px) solid transparent;

    @include phone {
        width: rem(64px);
        height: rem(64px);
        margin-right: rem(10px);
        border: none;
        &:nth-of-type(1) { order: 2; }
        &:nth-of-type(2) { order: 1; }
        &:nth-of-type(3) { order: 3; }

        /* &:hover {
            border: rem(4px) solid $btnColorLight;
        } */
    }

    &:hover {
        border: rem(4px) solid $btnColorLight;
    }

    &__active{
        border: rem(4px) solid $btnColorLight;
    }

    &:last-child {
        margin-right: 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}