.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    background-color: $menu;
    transition: opacity 0.3s;

    &__container {
        background: $light;
        padding: 35px 60px;
        @include flexCol-JCc-ALIfs ($align-items: center);
        margin: auto;
    }

    &__content{
        margin-bottom: 18px;
        @include baseFont ($line-height: rem(24px), $font-weight: 500, $color: $black)
    }

    &.error-modal {
        .modal__content {
            color: red;
        }
    }


    &.fancybox-content {
        padding: 0 !important;
    }

    &.fancybox-button {
        display: none;
    }
}