.section7 {
    background-color: $firstBgrColor;
    color: $btnColorDark;
    min-height: rem(652px);

    @include tablet {
        min-height: rem(966px);
    }

    @include phone {
        min-height: rem(766px);
    }

    &__container {
        position: relative;
        padding: 0 rem(81px) rem(22px);
        @include flexCol-JCsb-ALIfs($justify-content: center, $align-items: center);

        @include tablet {
            padding: rem(173px) 0 rem(180px);
        }

        @include phone {
            padding: rem(87px) 0  rem(81px);
        }
    }

    &__title {
        @include H2font ($color: $btnColorLight);
        text-transform: uppercase;
        margin-bottom: rem(58px);
        position: relative;
        width: 100%;
        text-align: center;

        @include tablet {
            margin-bottom: rem(32px);
            /* width: max-content; */
        }

        @include phone {
            @include H2font ($font-size: rem(40px), $line-height: rem(36px), $color: $btnColorLight);
            margin-bottom: rem(39px);
        }

        &::after {
            content: url(../../img/pics/decor/Ежевика_фото1.png);
            right: -9%;
            top: -392%;
            position: absolute;

            @include tablet {
                content: url(../../img/pics/decor/Ежевика_фото1_768.png);
                /* right: 0;
                top: -8.5%; */
                right: 0;
                top: -441%;
                position: absolute;
            }

            @include phone {
                content: url(../../img/pics/decor/Ежевика_фото1_480.png);
                right: 0;
                top: -480%;
                position: absolute;
            }
        }
    }

    &__form {
        position: relative;

        &::before {
            content: url(../../img/background/ягода_1.png);
            left: -3%;
            bottom: -6%;
            position: absolute;

            @include tablet {
                content: "";
            }
        }
    }
}