.section2{
    min-height: rem(642px);
    background-color: $forthBgrColor;
    position: relative;

    @include tablet {
        min-height: rem(816px);
    }

    
    &::before {
        content: url(../../img/background/leaf_battons1100.png);
        top: 55.5%;
        right: 0%;
        position: absolute;

        @include tablet {
            content: url(../../img/background/leaf_battons768.png);
            top: 71.5%;

        }

        @include phone {
            content: url(../../img/background/leaf_battons480.png);
            top: 74.5%;
            right: 0%;
        }
    }

    &::after {
        content: url(../../img/pics/decor/blueberry1100.png);
        top: 95%;
        right: 1.5%;
        position: absolute;

        @include tablet {
            content: url(../../img/pics/decor/blueberry768.png);
            top: 89%;
            right: 1%;
        }

        @include phone {
            content: url(../../img/pics/decor/blueberry480.png);
            top: 93%;
            right: 0%;
        }
    }
}