.single-feature {
    @include flexRow-JCfs-ALIc ($display: flex, $justify-content: flex-start, $align-items: center);
    flex-direction: column;
    max-width: rem(276px);
    position: relative;

    @include tablet {
        width: rem(258px);
    }

    @include phone {
        flex-direction: row;
        width: 100%;
        max-width: none;
        @include flexRow-JCfs-ALIc;
        margin-bottom: 0;
        flex: 0;
    }

    &__description {
        text-align: center;

        @include phone {
            text-align: left;
            padding-bottom: rem(20px);
            padding-right: rem(32px);
            @include flexCol-JCsb-ALIfs ($justify-content: flex-start);
            padding-top: rem(6px);
        }
    }

    &__icon {
        min-width: rem(128px);
        min-height: rem(128px);
        background: $thirdBgrColor;
        border-radius: 50%;
        margin-bottom: rem(21px);
        position: relative;
        text-align: center;

        @include tablet {
            margin-bottom: rem(20px);
        }

        @include phone {
            margin: 0 rem(13px) 0 rem(8px);
        }
    }

    &__title {
        @include H3font;
        margin-bottom: rem(18px);

        @include tablet {
            margin-bottom: rem(8px);
        }

        @include phone {
            @include H3font($color: $dark);
            margin-bottom: rem(12px);
        }
    }

    &__img {
        margin: 25% auto;

        @include phone {
            margin: 21% auto;
        }

        /* &480 {
            display: none;

            @include phone {
                display: block;
                margin: 24% auto;
                padding-left: rem(8px);
            }

        } */


    }

    &__text {
        p {
            text-align: center;
            @include baseFont($font-weight: 300, $color: $baseFontColor);

            @include tablet {
                @include baseFont($font-weight: 300, $color: $baseFontColor);
                padding: 0 rem(15px);
                margin-bottom: rem(36px);
            }

            @include phone {
                @include baseFont($line-height: rem(20px), $color: $baseFontColor);
                padding: 0;
                margin-bottom: 0;
                text-align: left;
            }
        }
    }
}